.idea
node_modules
.vscode-test/
*.txt
*.tgz
*.log
todo.md
.DS_Store
dist
out
*.vsix
.wireit/
.tsbuildinfo
/.nx/workspace-data
/lib/

/packages/*/lib
/packages/*/out
/packages/*/scripts
/packages/*/test
/packages/*/index.*

/packages/vscode-lit-plugin/built

/packages/web-component-analyzer/.rollup.cache
!/packages/web-component-analyzer/test
